<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<link rel="stylesheet" href="/views/css/profile.css" type="text/css">
</head>

<body>
<div class="container" style="background-color: white;">
    <div class="row">
        <div class="col-sm-2">
            <div class="card bg-light">
                <% var image = '<img class="card-img-top" src="' + user_data[0].user_img + '" height="125px" width="125px">';%>
                <%- image %>
                <h4><%- user_data[0].user_name %></h4>
                <h6><%- user_data[0].user_email %></h6>
            </div>
            <% var upload = ''; %>
            <% if (self) { %>
            <% upload += `<form action="/userprofile/${user}/newpic" method = "post" enctype = "multipart/form-data" id = "file_upload">
                <p><center><strong>Picture Upload</strong></center></p>
                <p>
                  <input type = "file" id = "file" name ="profile-pic">

                </p>

                <button type="submit" class="btn btn-primary btn-block">Upload Image</button>
                
            </form>`; %>
            <% } %>
            <%- upload %>
                
            
        </div>
        <div class="col-10">
            <div class="card bg-light">
                <h3>Best Catches</h3>
                <div class="card-deck">
                    <%/*<!-- possible database method for inserting catches-->*/%>
                    <%
                    var count = 0;

                    while (count < cCount)
                    {%>
                        <div class="card bg-light">
                            <%/*<img class="card-img-top" src=JSON.stringify(catches[count].img) height="250px" width="250px">*/%>
                            <h5>Species: <%- catches[count].catch_name %></h5>
                            <h5>Length: <%- catches[count].catch_length %>''</h5>
                            <h5>Weight: <%- catches[count].catch_weight %> lb</h5>
                            <h5>Date: <%- catches[count].catch_date %></h5>
                            <h5>Location: <%- catches[count].catch_location %></h5> 
                        </div>

                    <% count = count + 1;
                    } %>
                </div>
            </div>
            
        </div>
    </div>

    <%/*<!--adding fish post method-->*/%>
    <% if (self)
    { %>

    <div class="col-2">
        <input class="btn btn-success btn-block" type="submit" value="Add catch" onclick=addCatch()>
        <% var form = `<form method="post" action='/userprofile/${user}/submit_catch' id="catch" style="visibility: hidden; height: 0">`; %>
        <%- form %>
            <label for="name">Enter the name of the fish you caught</label>
            <input class="form-control input-sm" type="text" id="name" placeholder="specimen name" name="name">
            <br>
            <label for="length">Enter the length of the fish you caught</label>
            <input class="form-control input-sm" type="text" id="length" placeholder="fish length" name="length">
            <br>
            <label for="weight">Enter the weight of the fish you caught</label>
            <input class="form-control input-sm" type="text" id="weight" placeholder="fish weight" name="weight">
            <br>
            <label for="date">Enter the date you caught this fish(in MM/DD/YYYY format)</label>
            <input class="form-control input-sm" type="text" id="date" placeholder="date of catch" name="date">
            <br>
            <label for="location">Enter where you caught this fish</label>
            <input class="form-control input-sm" type="text" id="location" placeholder="location of catch" name="location">
            <br>

            <input class="btn btn-success" type="submit" value="submit" onclick=close(1)>

            <<input class="btn" type="submit" value="cancel" onclick=close(0)>

        </form>
        
    </div>

    <% }
        else{ %>
            
            <input class="btn btn-success" type="submit" value="Gain a fishing buddy" onclick=add()>
            


    <% } %>

    <%/*<!--script to load table for adding a catch-->*/%>
    <script>
        function addCatch()
        {
            document.getElementById("catch").style.visibility = "visible";
            document.getElementById("catch").style.height = "auto";
        }

        function close(type)
        {
            document.getElementById("catch").style.visibility = "hidden";
            document.getElementById("catch").style.height = 0;
        }
        function add()
        {
            window.location.href = "/userprofile/addfriend?user_id=" + "<%-user_id%>";
        }
    </script>

    <div class="row"><br></div>

    <div class="row">
        <br>
        <div class="col-2">
            <div class="card bg-light">
                <h4>Fishing Buddies</h4>
                <ul class="list-group">

                    <%/*<!-- possible database method for adding friends-->*/%>
                    <%
                    var count = 0;

                    while (count < fCount)
                    {%>

                        <li class="list-group-item">
                            <div class="media">
                                <%/*<img src=JSON.stringify(friends[count].img) width="48" class="mr-3 rounded">*/%>
                                <div class="media-body">
                                    <p class="mb-1">
                                    <a href="/userprofile/:user_id?user_id=<%-friends[count].user_id%>"><%- friends[count].user_name %></a>
                                    </p>
                                </div>
                            </div>    
                        </li>
                    <% count = count + 1;
                    } %>
                </ul>


            </div>
        </div>
        <div class="col">
            <div class="card bg-light">
                <h3>Most Recent Posts</h3>


                <%/*<!-- Possible method for adding displaying posts-->*/%>

                <% 
                var count = 0;

                while (count < pCount)
                {%>

                <div class="card">
                    <div class="card-body">
                      <div class="media">
                        <%/*<img src= JSON.stringify(posts[count].img) width="70px" height="90px" class="mr-2 rounded">*/%>
                        <p><h5 class="card-title"><%- posts[count].post_name %></h5></p>
                        <br>
                          <div class="card-body">
                            <%- posts[count].post_content %>
                          </div>
                      </div>
                    </div>
                  </div>
                  <% count = count + 1;
                    } %>
            </div>
        </div>
    </div>
</div>
</body>

</html>