<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<link rel="stylesheet" href="/views/css/profile.css" type="text/css">
</head>

<body style="background-image: url(https://i.pinimg.com/originals/eb/57/ce/eb57ced271aecdfc5e63b4b6d23024a1.jpg);  background-size: cover; background-attachment: fixed;">
<br>
    <div class="container" style="background-color: blanchedalmond;">
        <% var errMsg = ''; %>
        <% if (error) {
            errMsg += `<div class="alert alert-danger" role="alert">
                ${error}
              </div>`; %>
        <% } %>
        <%- errMsg %>
    <div class="row">
        <div class="col-sm-2">
            <div class="card bg-light">
                <% var image = '<img class="card-img-top" src="' + user_data[0].user_img + '" height="125px" width="125px">';%>
                <% if (image != null)
                { %>
                <%- image %>
                <% } %>
                <h4><%- user_data[0].first_name %> <%- user_data[0].last_name %></h4>
                <h6><%- user_data[0].user_name %></h6>
            </div>
            <% var upload = ''; %>
            <% if (self) { %>
            <% upload += `<form action="/userprofile/${user}/newpic" method = "post" enctype = "multipart/form-data" id = "file_upload">
                <p><center><strong>Picture Upload</strong></center></p>
                <p>
                  <input type = "file" id = "file" name ="profile-pic">

                </p>

                <button type="submit" class="btn btn-primary btn-block">Upload Image</button>
                
            </form>`; %>
            <% } %>
            <%- upload %>
                
            <% if (self)
    { %>

        <input class="btn btn-success btn-block" type="submit" value="Add catch" onclick=addCatch()>
        <% var form = `<form method="post" action='/userprofile/${user}/submit_catch' id="catch" enctype = "multipart/form-data" style="visibility: hidden; height: 0">`; %>
        <%- form %>
            <label for="name">Enter the name of the fish you caught</label>
            <input class="form-control input-sm" type="text" id="name" placeholder="specimen name" name="name">
            <br>
            <label for="length">Enter the length of the fish you caught</label>
            <input class="form-control input-sm" type="text" id="length" placeholder="fish length" name="length">
            <br>
            <label for="weight">Enter the weight of the fish you caught</label>
            <input class="form-control input-sm" type="text" id="weight" placeholder="fish weight" name="weight">
            <br>
            <label for="date">Enter the date you caught this fish(in MM/DD/YYYY format)</label>
            <input class="form-control input-sm" type="text" id="date" placeholder="date of catch" name="date">
            <br>
            <label for="location">Enter where you caught this fish</label>
            <input class="form-control input-sm" type="text" id="location" placeholder="location of catch" name="location">
            <br>
            <label for="file">Upload a picture</label>
            <input type = "file" id = "file" name ="catch-pic">
            <br>

            <input class="btn btn-success" type="submit" value="submit" onclick=close(1)>

            

        </form>

        <form id="cancel" style="visibility: hidden; height: 0">
            <input class="btn" type="submit" value="cancel" onclick=close(0)>
        </form>
        

    <% } else if (user > 0) { %>
            <% var buddy = ''; %>
            <% if (!viewingFriend) { %>
                <% buddy += `<form method="post" action='/userprofile/${user_id}/addfriend'>
                    <input class="btn btn-success" type="submit" value="Add buddy">
                </form>`; %>
            <% } else { %>
                <% buddy += `<form method="post" action='/userprofile/${user_id}/removefriend'>
                    <input class="btn btn-danger" type="submit" value="Throw back in the river">
                </form>`; %>
            <% } %>
            <%- buddy %>
            
            
    <% } %>
        </div>
        <div class="col-10">
            <div class="card bg-light">
                <h3>Catches</h3>
                <div class="card-group">
                    <%/*<!-- possible database method for inserting catches-->*/%>
                    <% if (catches) {
                        var catchdisp = '';
                        var count = 1;
                        catches.forEach(function(item){
                            if (count % 3 === 1) {
                                catchdisp += '<div class ="card-deck">';
                            }
                            catchdisp += `<div class = "col-sm-4"><div class="card bg-light">
                                <img class="card-img-top" src='${item.catch_image}' height="150px" width="150px">
                                <h5>Species: ${item.catch_name}</h5>
                                <h5>Length: ${item.catch_length}</h5>
                                <h5>Weight: ${item.catch_weight} lb</h5>
                                <h5>Date: ${item.catch_date}</h5>
                                <h5>Location: ${item.catch_location}</h5> 
                            </div></div>`;
                            if (count % 3 === 0) {
                                catchdisp += '</div>';
                            }
                            count++;
                        }); %>
                        <% if (count % 3 != 1) {
                            catchdisp += '</div>';
                        } %>
                        <%- catchdisp %>
                    <% } %>
                </div>
                    

                    
                
            </div>
            
        </div>
    </div>

    <%/*<!--adding fish post method-->*/%>
    

    <%/*<!--script to load table for adding a catch-->*/%>
    <script>
        function addCatch()
        {
            document.getElementById("catch").style.visibility = "visible";
            document.getElementById("catch").style.height = "auto";

            document.getElementById("cancel").style.visibility = "visible";
            document.getElementById("cancel").style.height = "auto";
        }

        function close(type)
        {
            if (type === 0)
            {
                location.reload();
            }
            document.getElementById("catch").style.visibility = "hidden";
            document.getElementById("catch").style.height = 0;
        }
        function add()
        {
            window.location.href = `/userprofile/${user_id}/addfriend`;
        }
    </script>

    <div class="row"><br></div>

    <div class="row">
        <br>
        <div class="col-2">
            <div class="card bg-light">
                <h4>Fishing Buddies</h4>
                <ul class="list-group">

                    <%/*<!-- possible database method for adding friends-->*/%>
                    <%
                    if (friends) {
                        var frienddisp = '';
                        friends.forEach(function(item){
                            frienddisp += `<li class="list-group-item">
                                <div class="media">
                                    <img src='${item.user_img}'width="48" class="mr-3 rounded">
                                      <div class="media-body">
                                        <p class="mb-1">
                                          <a href='/userprofile/${item.user_id}'>${item.user_name}</a>
                                        </p>
                                    </div>
                                </div>    
                            </li>`;
        
                        }); %>
                        <%- frienddisp %>
                    <% } %>

                </ul>


            </div>
        </div>
        <div class="col">
            <div class="card bg-light">
                <h3>Posts</h3>


                <%/*<!-- Possible method for adding displaying posts-->*/%>
                <% 
                var count = 0;

                while (count < pCount)
                {%>

                <div class="card">
                    <div class="card-body">
                      <div class="media">
                        <%/*<img src= JSON.stringify(posts[count].img) width="70px" height="90px" class="mr-2 rounded">*/%>
                        <p><h5 class="card-title"><%- posts[count].post_name %></h5></p>
                        <br>
                          <div class="card-body">
                            
                            <% if (posts[count].post_image != '')
                            { %>
                                <% var postimg = `<img src='../${posts[count].post_image}' width="70px" height="90px" class="mr-2 rounded">`; %>
                                <%- postimg %>
                            <% } %>
                            <%- posts[count].post_content %>
                          </div>
                      </div>
                    </div>
                  </div>
                  <% count = count + 1;
                    } %>
            </div>

        </div>
    </div>
</div>
</body>

</html>


