<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<link rel="stylesheet" href="/views/css/profile.css" type="text/css">
</head>

<body>
<div class="container" style="background-color: white;">
    <div class="row">
        <div class="col">
            <div class="card bg-light">
                <img class="card-img-top" src="../img/hotdogman.png" height="125px" width="125px">
                <h4>Hotdog Jim</h4>
                <h6>@HotDogWater488</h6>
                <h7>Location: Missouri</h7>
                <p>I love hot dogs!</p>
            </div>
            
        </div>
        <div class="col-10">
            <div class="card bg-light">
                <h3>Best Catches</h3>
                <div class="card-deck">
                    <%/*<!-- possible database method for inserting catches-->*/%>
                    <%
                    var count = 0;

                    while (count < cCount)
                    {%>
                        <div class="card bg-light">
                            <%/*<img class="card-img-top" src=JSON.stringify(catches[count].img) height="250px" width="250px">*/%>
                            <h5>Species: <%- catches[count].Catch_Name %></h5>
                            <h5>Length: <%- catches[count].Catch_Length %>''</h5>
                            <h5>Weight: <%- catches[count].Catch_Weight %> lb</h5>
                            <h5>Date: <%- catches[count].Catch_Date %></h5>
                            <h5>Location: <%- catches[count].Catch_Location %></h5> 
                        </div>

                    <% count = count + 1;
                    } %>
                </div>
            </div>
            
        </div>
    </div>

    <%/*<!--adding fish post method-->*/%>
    <% if (self === 1)
    { %>

    <div class="col-2">
        <input class="btn btn-success btn-block" type="submit" value="Add catch" onclick=addCatch()>

        <form action="/userprofile/:user_id" method="post" id="catch" style="visibility: hidden; height: 0">
            <label for="name">Enter the name of the fish you caught</label>
            <input class="form-control input-sm" type="text" id="name" placeholder="specimen name">
            <br>
            <label for="length">Enter the length of the fish you caught</label>
            <input class="form-control input-sm" type="text" id="length" placeholder="fish length">
            <br>
            <label for="weight">Enter the weight of the fish you caught</label>
            <input class="form-control input-sm" type="text" id="weight" placeholder="fish weight">
            <br>
            <label for="date">Enter the date you caught this fish(in MM/DD/YYYY format)</label>
            <input class="form-control input-sm" type="text" id="date" placeholder="date of catch">
            <br>
            <label for="location">Enter where you caught this fish</label>
            <input class="form-control input-sm" type="text" id="location" placeholder="location of catch">
            <br>

            <input class="btn btn-success" type="submit" value="submit" onclick=close(1)>

            <input class="btn" type="submit" value="cancel" onclick=close(0)>

        </form>
        
    </div>

    <% } %>

    <%/*<!--script to load table for adding a catch-->*/%>
    <script>
        function addCatch()
        {
            document.getElementById("catch").style.visibility = "visible";
            document.getElementById("catch").style.height = "auto";
        }

        function close(type)
        {
            document.getElementById("catch").style.visibility = "hidden";
            document.getElementById("catch").style.height = 0;
        }
    </script>

    <div class="row"><br></div>

    <div class="row">
        <br>
        <div class="col-2">
            <div class="card bg-light">
                <h4>Fishing Buddies</h4>
                <ul class="list-group">

                    <%/*<!-- possible database method for adding friends-->*/%>
                    <%
                    var count = 0;

                    while (count < fCount)
                    {%>

                        <li class="list-group-item">
                            <div class="media">
                                <%/*<img src=JSON.stringify(friends[count].img) width="48" class="mr-3 rounded">*/%>
                                <div class="media-body">
                                    <p class="mb-1">
                                    <a href="/profile/<%-friends[count].User_Id%>"><%- friends[count].User_Name %></a>
                                    </p>
                                </div>
                            </div>    
                        </li>
                    <% count = count + 1;
                    } %>
                </ul>


            </div>
        </div>
        <div class="col">
            <div class="card bg-light">
                <h3>Most Recent Posts</h3>


                <%/*<!-- Possible method for adding displaying posts-->*/%>

                <% 
                var count = 0;

                while (count < pCount)
                {%>

                <div class="card">
                    <div class="card-body">
                      <div class="media">
                        <%/*<img src= JSON.stringify(posts[count].img) width="70px" height="90px" class="mr-2 rounded">*/%>
                          <div class="media-body text-muted">
                            <%- posts[count].Post_Content %>
                          </div>
                      </div>
                    </div>
                  </div>
                  <% count = count + 1;
                    } %>
            </div>
        </div>
    </div>
</div>
</body>

</html>